@font-face {
  font-family: IBMPlexSans-Bold;
  src: url(../fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: IBMPlexSans-Light;
  src: url(../fonts/IBMPlexSans-Light.ttf);
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url(../fonts/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: IBMPlexSans-Thin;
  src: url(../fonts/IBMPlexSans-Thin.ttf);
}
@font-face {
  font-family: IBMPlexSans-Regular;
  src: url(../fonts/IBMPlexSans-Regular.ttf);
}

.bannerarea {
  margin: 0px 10%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.slideimg{
  width: 120px;
  height: 50px;
}

.slidecontainer {
  margin: 40px auto !important;
  width: 80%; 
}

.container {

}

footer{
  padding: 70px 20px 20px;
}
footer .bottomBar{
    padding: 70px 20px 20px;
}
footer h5{
  color:#b9b9b9;
  margin-bottom: 1em;
  font-size: 1rem;
}
footer .bottomBar {
  padding: 40px 0px 20px;
  margin-top: 40px;
  border-top: 1px solid #ffffff29;
}
footer ul {
  padding: 0px;
  list-style: none;
}

footer li{
  color:#b9b9b9;
  margin-bottom: 1em;
  font-size: 1rem;
}
footer li a{
  font-weight: 400;
}
.bottomBar p{
    font-size: .9rem;
    margin-bottom: 0px;
}

