@font-face {
  font-family: IBMPlexSans-Bold;
  src: url(../fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: IBMPlexSans-Light;
  src: url(../fonts/IBMPlexSans-Light.ttf);
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url(../fonts/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: IBMPlexSans-Thin;
  src: url(../fonts/IBMPlexSans-Thin.ttf);
}
@font-face {
  font-family: IBMPlexSans-Regular;
  src: url(../fonts/IBMPlexSans-Regular.ttf);
}

.bannerarea {
  margin: 0px 8%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.slideimg{
  width: 120px;
  height: 50px;
}

.slidecontainer {
  margin: 40px auto !important;
  width: 80%; 
}

/* Start of header styling */

.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

/* End of header styling */

.container {

}

footer{
  padding: 70px 20px 20px;
}
footer .bottomBar{
    padding: 70px 20px 20px;
}
footer h5{
  color:#b9b9b9;
  margin-bottom: 1em;
  font-size: 1rem;
}
footer .bottomBar {
  padding: 40px 0px 20px;
  margin-top: 40px;
  border-top: 1px solid #ffffff29;
}
footer ul {
  padding: 0px;
  list-style: none;
}

footer li{
  color:#b9b9b9;
  margin-bottom: 1em;
  font-size: 1rem;
}
footer li a{
  font-weight: 400;
}
.bottomBar p{
    font-size: .9rem;
    margin-bottom: 0px;
}

.inputFiled {
  background: transparent;
}

.privacyLink a {
  /* text-decoration: none; */
  color: #eeee;
  margin: 0px auto;
}

.privacyLink a:hover {
  color: #eee;
}