:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('./fonts/IBMPlexSans-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('./fonts/IBMPlexSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'IBMPlexSans-Regular';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1A1A1A;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .container.max-container{
      max-width: 1280px;
  }
}

h1 {
  font-size: 2.7rem;
  line-height: 1.1;
  font-family: 'IBMPlexSans-Bold',sans-serif;
  color:#fff;
  font-weight: 700;
}
h2 {
  font-size: 2.3rem;
  line-height: 1.1;
  font-family: 'IBMPlexSans-Bold',sans-serif;
  color:#fff;
  font-weight: 700;
}
h3 {
  font-size: 1.6rem;
  line-height: 1.1;
  font-family: 'IBMPlexSans-Bold',sans-serif;
  color:#fff;
  font-weight: 700;
}
h4 {
  color: #fff;
  font-size: 1.3rem;
}
hr {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border: 0px;
  opacity: 1;
  margin: 25px 0px ;
}
h6 {
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;
}
p{
  color:#b9b9b9;
  font-size: 1.1rem;
}
.btn-info {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px 54px;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #444444;
  cursor: pointer;
  transition: border-color 0.25s;
  color:#fff;
  text-transform: uppercase;
  font-family: 'IBMPlexSans-Bold',sans-serif;
  margin-top: 20px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.banner-area{
  padding: 70px 20px;
}

.trust-sec{
  padding-bottom: 70px;
}
.trust-sec hr{
  margin: 0 auto;
}

.bid-write{
  padding: 70px 20px;
  background-color: #1f1f1f;
}

.bid-write .row ,.key-feature .row{
  max-width: 965px;
  margin: 0 auto;
  align-items: center;
}
.max-w-text{
  max-width: 451px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.box {
  width: 50%;
  padding: 0px 22px;
}

.ingredients{
  padding: 70px 20px;
  text-align: center;
}

.ingredients hr{
  width: 40px !important;
  margin: 25px auto;
}
.tabBox {
  margin-top: 80px;
}



.tabBox .btn.btn-danger {
  background-color: #707070;
  border: 0px;
  padding: 11px 15px;
  border-radius: 100px;
  width: 100%;
  font-weight: 700;
  font-size: 1.rem;
  margin-bottom: 15px;
}
.tab-content {
  padding: 112px 20px 200px;
  background-image: url(/public/background-pattren.png);
  background-size: cover;
  background-position: top;
  margin-top: -23px;
  position: relative;
  border-radius: 15px;
}
.tab-content::before {
  content: "";
  background-color: #000000c7;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 20px;
}
.row.upperBtns {
  position: relative;
  padding: 0px 20px;
  z-index: 1;
}
.max-content{
  max-width: 60rem;
  margin: 0px auto;
  position: relative;
}
.ingredients .tabBox h2{
  margin-bottom: 30px;
}

.key-feature {
  text-align: center;
}
.key-feature hr{
  margin: 25px auto;
}
.key-feature .row{
  text-align: left;
  padding: 60px 0px;
}
.key-feature .row hr{
  margin: 25px 0px;
}
h2.big {
  font-size: 3.1rem;
}
h3.big {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
}
.innerbox {
  margin-bottom: 40px;
}

.tesimonial {
  background-color: #272727;
  padding: 70px 20px;
  text-align: center;
}
.tesimonial hr,.commitment-sec hr,.featured hr{
   margin:27px auto;
}
.max-text{
  max-width: 641px;
  margin: 0 auto;
}
.commitment-sec,.featured{
  padding: 70px 20px;
  text-align: center;
  background-color:#1f1f1f;
}

.formbox{
  text-align: center;
  padding: 70px 20px;
}
.news {
  padding: 70px 20px;
  text-align: center;
  background-color: #1f1f1f;
}
.news hr{
  margin: 25px auto;
}

.news-circle img {
  height: 100%;
}

.newsBox {
  text-align: left;
  margin-bottom: 30px;
}
.news-circle {
  width: 110px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.newsBox hr{
  margin: 25px 0px;
}